/* Reset */
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;

body{
    font-family: 'Lato', sans-serif;
    background-color: #bb810b;
}

}
#banner1{
    display:block;
    background-color:#7fffbb;
    height:50px;
    width:100%
}
#banner2{
    display:block;
    background-color:#7fffbb;
    height:50px;

}
#menu{
    height:80px;
    width:100%;
    position :relative;
    background-color:#27be6e;
}


#menu ul li{
    float:left;
    list-style-type:none;
    margin-left:20px;
}

nav>ul>li:last-child {
    border-right: none;
}


#menu ul li a{
    text-align:center;
    text-decoration:none;
    color:black;
    display:inline-block;
    height:50px;
    background-color:#16854a;
     width:200px;
    padding-top:20px;
}
#menu ul{
    float:left;
    padding-top:10px;
    left:50%;
    margin-left:-60px;
}
#menu ul li a :hover{
    color:white;
    background-color:#27be6e;
}

aside{
    width: 200px;
    background-color:#008059;
    color: white;
    border-radius: 5px;
    padding: 20px;
    margin-top: 8px;
}

#contenuprincipal{
    display:block;
    background-color:#27be6e;
    height:50px;
}
#footer{
    display:block;
    height:60px;
    background-color:#27be6e;
    text-align:center;
    width:100%;
    position:absolute;
    bottom:0;
}
#footer p{
    display:block;
    font-weight:bold;
    position:relative;
    top:10px;
}

footer{
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    margin-top: 5px;
    width: 1244px;
    margin-right: 40px;
}
.footer{
    float: right;
    position: relative;
    width: 200px;
    margin: 50px;
}
#map{
    width: 180px;
    height: 100px;
}
i{
    margin: 5px;
}
.bar {
    background-color: #9400D3;
    width: 100%;
    display: block;
}
#home{
    color: white;
}
legend{
    width:1px;
    height:1px;
    overflow:hidden;
}
#rechercher{
    background-color:green;
    display:block;
    height:25px;
    margin-top:5px;
}
#annuler{
    background-color:green;
    display:inline-block;
    height:25px;
}
h2{
    background-color:#7fffbb;
    text-align:center;
    min-height: 50px;
    line-height: 50px;
    color:green;
}
label{
    margin-left:5px;
    padding:5px;
}
label{
    display:block;
}

