/* Reset */
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;

}
#banner1{
    display:block;
    background-color:#7fffbb;
    height:50px;
    width:100%
}
#banner2{
    display:block;
    background-color:#7fffbb;
    height:50px;

}
#menu{
    height:80px;
    width:100%;
    position :relative;
    background-color:#27be6e;
}


#menu ul li{
    float:left;
    list-style-type:none;
    margin-left:20px;
}
#menu ul li a{
    text-align:center;
    text-decoration:none;
    color:black;
    display:inline-block;
    height:50px;
    background-color:#16854a;
     width:200px;
    padding-top:20px;
}
#menu ul{
    float:left;
    padding-top:10px;
    left:50%;
    margin-left:-60px;
}
#menu ul li a :hover{
    color:white;
    background-color:#27be6e;
}
#contenuprincipal{
    display:block;
    background-color:#27be6e;
    height:50px;
}
#footer{
    display:block;
    height:60px;
    background-color:#27be6e;
    text-align:center;
    width:100%;
    position:absolute;
    bottom:0;
}
#footer p{
    display:block;
    font-weight:bold;
    position:relative;
    top:10px;
}